$fontcolor:#808080;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: #777777;
}

.top-nav>.row>div {
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    border-left: 1px solid #666;
    height: 40px;
    text-align: center;
    line-height: 40px;
    &:nth-child(1) {
        border-left: none;
    }
    a {
        color: $fontcolor;
        position: relative;
    }
    .btn-2 {
        color: #fff;
    }
    .erweima {
        position: absolute;
        top: 20px;
        left: -10px;
        display: none;
    }
    .wjs_ewm:hover .erweima {
        display: block;
    }
}

#nav {
    background-color: #f8f8f8;
    .navbar {
        margin-bottom: 0;
        a {
            height: 80px;
            padding-top: 0;
            padding-button: 0;
            line-height: 80px;
        }
        .navbar-header {
            button {
                background-color: #ddd;
                span {
                    background-color: #888;
                }
            }
        }
        .navbar-brand {
            margin-top: 5px;
            span {
                color: #ff0000;
                font-size: 70px;
            }
        }
        a:hover,
        a:focus {
            border-bottom: 1px solid #ff0000;
        }
    }
}
// 轮播图宽度百分之百
.item{
    img{
        width: 100%;
        height: 100%;
    }
}
// 支付介绍
.exchange {
        padding: 20px 0;
        .box{
            margin: 20px 0;
        .media-left {
            font-size: 50px;
        }
    }
    a:hover{
        color:#ff0000;
    }
}
// 排队
.lineup{
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    .container{
        padding:30px 0;
    }
}
// table栏目
.wjs_buy {
    .row>div{
      margin-bottom: 20px;
    }
    /* 灰色  默认 .cart_defalut */
    /* 块级元素-容器 行内元素-行内块元素 页面元素使用    */
    .cart_defalut {
      display: block;
      padding-right: 80px;
      background-color: #f7f7f7;
      position: relative;
      color: $fontcolor; // 边框阴影
      // 水平偏移 垂直偏移 模糊值 外延值 颜色 ?内外阴影
      box-shadow: 0 0 9px 5px #ccc;
      .cart_content {
        padding: 0 5px;
        border-right: 1px dashed #000;
        h4 {
          text-align: center;
          padding-top: 20px;
        }
        .cart_info {
          padding-bottom: 5px;
          .pull-left,
          .pull-right {
            width: 50%;
            >div {
              padding: 5px 0;
            }
          }
        }
      }
      .cart_rate {
        width: 80px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        text-align: center;
        padding-top: 55px;
        &::before {
          content: "";
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: #fff;
          position: absolute;
          left: -10px;
          top: -10px;
          box-shadow: 0 3px 0 0 #ccc;
        }
        &::after {
          content: "";
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: #fff;
          position: absolute;
          left: -10px;
          bottom: -10px;
          box-shadow: 0 -3px 0 0 #ccc;
        }
      }
    } // 红色 体验  cart_exp
    .cart_exp {
      background-color: red;
      color: #fff;
      .cart_content {
        border-color: #fff;
        position: relative;
        .wjsfont {
          position: absolute;
          top: 0;
          left: 0;
          font-size: 40px;
        }
      }
    }
    /* 灰色 进度条 cart_progress */
    .cart_progress {
      .cart_rate {
        .tips {
          // .btn{
          //   border: none;
          //   padding: 2px;
          //   margin: 0;
          //   outline: none;
          //   border: 1px solid green;
          //   color: green;
          // }
          /* 
            ul li:nth-child(2)
              选择到了ul父元素里面的第二个li标签 
            和nth-of-type区别 
            ul li:nth-of-type(2)
              选择到了ul父元素里面第二个li标签
              在计算索引的时候 忽略其他类型的标签的!!!
             */
          span:nth-child(1) {
            border: 1px solid green;
            color: green;
          }
          span:nth-of-type(2) {
            border: 1px solid red;
            color: red;
          }
        }
      }
    }
  }
//全部新闻
.wjs_news {
    .all_news {
      border-bottom: 1px solid #000;
      font-size: 30px;
      position: relative;
      &::before{
        content: "";
        width: 10px;
        height: 10px;
        border: 1px solid #000;
        border-radius: 50%;
        position: absolute;
        bottom: -5px;
        right: -10px;
      }
    }
    .new_title {
      position: relative;
      .line{
        width: 0;
        border-left: 1px dashed #000;
        height: 400px;
        position: absolute;
        left: 74px;
        z-index: -1;
      }
      ul{
        list-style: none;
        li{
          margin-bottom: 55px;
          a{
            background-color: #cccccc;
            color: #fff;
            border-radius: 50%;
            padding: 10px;
            display: inline-block;
            .wjsfont{
              font-size: 50px;
            }
            &:hover,&:focus{
              background-color: red;
            }
          }
        }
      }
    }
    .news_content {}
  }